<footer>
  <p>
    <i class="nes-ash"></i>
    <span class="nes-text is-primary">Hello World!</span>
    <a href="https://nostalgic-css.github.io/NES.css/" target="_blank" rel="noopener">I'm inspired by NES.css</a>
    <span>-</span>
    <a class="nes-text is-primary" href="{{ site.social.instagram }}" target="_blank" rel="noopener">Please Follow me :)</a>
  </p>
</footer>
<!-- FAB Button -->
<button type="button" class="nes-btn is-error scroll-btn" :class="{ active: scrollPos > 500 }"
  @click="window.scrollTo({ top:0, behavior: 'smooth' })"><span>&lt;</span></button>