@font-face {
  font-family: 'DungGeunMo';
  font-weight: normal;
  font-style: normal;
  src: 
       url('../fonts/DungGeunMo/DungGeunMo.woff2') format('woff2'),
       url('../fonts/DungGeunMo/DungGeunMo.woff') format('woff'),
       url('../fonts/DungGeunMo/DungGeunMo.eot') format('eot')
}
