<!DOCTYPE html>
<html lang="{{ site.lang | default: "ko-KR" }}">
  {% include head.html %}
  <body>
    <div id="nescss">
      {% include header.html %}
      {% if site.github.is_project_page %}
        {% include fork-me.html %}
      {% endif %}
      <div class="container">
        <main class="main-content">
          <section class="topic"> 
          {{ content }}
          </section>
        </main>
      </div>
      {% include footer.html %}
    </div>
  </body>
  <script src="/docs/script.js"></script>
  <script>
    const h = document.querySelector('head');
    ['/docs/lib/dialog-polyfill.css', '/docs/lib/highlight-theme.css'].forEach(a => {
      const l = document.createElement('link');
      l.href = a;
      l.rel = 'stylesheet';
      h.appendChild(l);
    })
  </script>
</html>
