---
layout: default
comments: true
---

<div class="nes-container with-title">
  <b class="title">
    <label>
      <input type="radio" class="nes-radio" name="answer" checked />
      <span>{{ page.title }}</span>
    </label>
  </b>
  <section>
    <i class="nes-icon is-small like"></i>
    <span>{{ page.date | date: "%Y-%m-%d " }}</span>
  </section>
  {{ content }}
</div>
{% if page.tags %}
<b>Tags: {{ page.tags | join: "</b> <b>" }}</b>


{% endif %}
{% if site.disqus.shortname %}
{% include comments.html %}
{% endif %}